/* Typography */
body {
    font-family: "runda", Helvetica, Arial, Helmet, Freesans, sans-serif;
    font-size: 16px;
    color: $black;
    background-color: $white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}
h1 {
	font-size: 1.25em;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 1em;
}
h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	font-weight: 700;
	font-style: normal;
	line-height: 120%;
	margin: 0 0 1.4em 0;
}
h3 {
	font-size: 1em;
	font-weight: 700;
	font-style: normal;
	line-height: 140%;
	}
h4 {
	font-size: 1em;
	font-weight: 400;
	font-style: italic;
	line-height: 140%;
	}
p {
    font-size: 1em;
    line-height: 140%;
    margin: 0 0 1.4em 0;
	}
ul {
	list-style: circle;
	padding-left: 1.2em;
	margin-bottom: 1.3em;
	}
ol	{
	padding-left: 1.3em;
	margin-bottom: 1.3em;
	}
li {
	margin-bottom: .5em;
	}
blockquote {
	padding: 0 .75em;
	border-left: 3px solid #e5e3e0;
	font-style: italic;
}
strong {
	font-weight: 700;
}
a {
    color: $blue;
    text-decoration: none;
    @include transit(color, .2s, linear);
    &:hover {
        color: $black;
    }
}