// Colors

$blue: #44A2E1;
$black: #262626;
$white: #ffffff;
$gray: #bbbbbb;
$lt-gray: #dddddd;
$vlt-gray: #ededeb;

$text-gray: #333333;
$md-gray: #888888;
$text-lt-gray: #bbbbbb;
$bkg-gray: #ededeb;
$bkg-lt-gray: #888888;
$white: #ffffff;