// Colors

$blue: #44A2E1;
$black: #262626;
$white: #ffffff;
$gray: #a6a6a6;
$dk-gray: #888888;
$vdk-gray: #555555;
$sdk-gray: #333333;
$lt-gray: #dddddd;
$vlt-gray: #f3f3f3;
$slt-gray: #fafafa;

$border-gray: #e3e3e3; // for poster thumbs