// Colors

$blue: #44A2E1;
$black: #262626;
$white: #ffffff;
$gray: #aaaaaa;
$dk-gray: #888888;
$vdk-gray: #555555;
$lt-gray: #dddddd;
$vlt-gray: #f4f4f4;
$slt-gray: #fafafa;

$text-gray: #333333;
$md-gray: #888888;
$text-lt-gray: #bbbbbb;
$bkg-gray: #ededeb;
$bkg-lt-gray: #888888;
$white: #ffffff;