// Grid system

.row {
  max-width: 960px;
  margin: 0 auto;
  // clearfix
  zoom: 1;
  &:before {content: "\0020"; display: block; height: 0; overflow: hidden;}
  &:after {content: "\0020"; display: block; height: 0; overflow: hidden; clear: both;}
}

// Simple 5-column grid using border-box

$grid-width: 20%;
$gutter-width: .75em;

@function tr-grid-width($n) {
  @return $n * $grid-width;
}

@mixin col($num) {
  box-sizing: border-box;
  margin: 0;
  padding: 0 $gutter-width;
  float: left;
  width: tr-grid-width($num);
  //outline: 1px dotted $gray;
}

@media screen and (min-width: 320px) {

}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 760px) {
}

@media screen and (min-width: 1024px) {
}
