/* Body
-------------------------------------------------- */
body {
  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 22px;
  }
}

/* Wrapper
-------------------------------------------------- */

.wrap {
  @include grid-row;
}

/* Site header
-------------------------------------------------- */

#site-header {
    padding: $gutter .5*$gutter 2*$gutter;
    
    // The logo container
    #logo {
      @include grid-col(5);
      z-index: 3;
    }
    
    @media screen and (min-width: 580px) {
      padding-left: 1.5*$gutter;
      padding-right: 1.5*$gutter;
    }
    @media screen and (min-width: 760px) {
      // Logo
      #logo {
        @include grid-col(2);
      }
    }
    @media screen and (min-width: 980px) {
      padding-left: 2.5*$gutter;
      padding-right: 2.5*$gutter;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 3.5*$gutter;
      padding-right: 3.5*$gutter;
    }
   
}


/* Content
------------------------- */

.content {
    padding: $gutter .5*$gutter 2*$gutter;

    @media screen and (min-width: 580px) {
      padding-left: 1.5*$gutter;
      padding-right: 1.5*$gutter;
    }
    @media screen and (min-width: 760px) {
      // Same as above padding
    }
    @media screen and (min-width: 980px) {
      padding-left: 2.5*$gutter;
      padding-right: 2.5*$gutter;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 3.5*$gutter;
      padding-right: 3.5*$gutter;
    }
}

/* Page title */

.page-title {
  @include grid-col(5);
}

/* Main col */

.main {
    @include grid-col(5);
    padding-bottom: $gutter; // needs this padding because it stacks directly on top of the sidebar in the smaller layouts
    @media screen and (min-width: 760px) {
      @include grid-col(3);
    }
    @media screen and (min-width: 960px) {
      padding-right: $gutter; // increase the standard right padding to make more room for the sidebar
    }    
     @media screen and (min-width: 1200px) {
       @include grid-col(2.5);
       padding-right: $gutter; // increase the standard right padding to make more room for the sidebar
    }  
}

/* Sidebar */

.sidebar {
    @include grid-col(5);
    @media screen and (min-width: 760px) {
      @include grid-col(2);
    }
    @media screen and (min-width: 960px) {
      padding-left: $gutter;
    }
     @media screen and (min-width: 1200px) {
      @include grid-col(2.5);
      padding-left: $gutter;
    }
}

/* Pagination */

.pagination {
    margin-top: 2.8em; // keeps this away from the main and sidebar columns above
    @include grid-col(5);
    
    @media screen and (min-width: 1200px) {
      @include grid-col(2.5);
    }
}

/* Sign-up form
-------------------------------------------------- */

#sign-up {
    padding: $gutter .5*$gutter;
    margin-bottom: $gutter;    
    @media screen and (min-width: 580px) {
      padding-left: 1.5*$gutter;
      padding-right: 1.5*$gutter;
    }
    @media screen and (min-width: 760px) {
      // padding: $gutter;
    }
    @media screen and (min-width: 980px) {
      padding-left: 2.5*$gutter;
      padding-right: 2.5*$gutter;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 3.5*$gutter;
      padding-right: 3.5*$gutter;
    }
    .main {
      padding-bottom: .5*$gutter;
    }
}

/* Site footer
-------------------------------------------------- */

#site-footer {
    padding: $gutter .5*$gutter 2*$gutter;
    text-align: center;    
    // The social buttons
    .social {
      @include grid-col(5);
    }
    // The copyright
    .copyright {
      @include grid-col(5);
    }
    @media screen and (min-width: 580px) {
      padding-left: 1.5*$gutter;
      padding-right: 1.5*$gutter;
    }
    @media screen and (min-width: 760px) {
      text-align: left;
      .social {
	      @include grid-col(2.5);
      }
      .copyright {
      	  text-align: right;
	      @include grid-col(2.5);
      }
    }
    @media screen and (min-width: 980px) {
      padding-left: 2.5*$gutter;
      padding-right: 2.5*$gutter;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 3.5*$gutter;
      padding-right: 3.5*$gutter;
    }
}


/* Site Navigation
-------------------------------------------------- */

#site-nav {
  padding: 0 .5*$gutter 2*$gutter;

  @media screen and (min-width: 580px) {
    padding-left: 1.5*$gutter;
    padding-right: 1.5*$gutter;
  }
  // Here's where it moves up top
  @media screen and (min-width: 760px) {
    position: absolute;
    top: $gutter;
    right: .5*$gutter;
    padding-bottom: 0;
  }
  @media screen and (min-width: 980px) {
    padding-left: 2.5*$gutter;
    padding-right: 2.5*$gutter;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 3.5*$gutter;
    padding-right: 3.5*$gutter;
  }

}

/* Previously on...
-------------------------------------------------- */

#previously-on {
    padding: 1.5*$gutter .5*$gutter 2*$gutter ;
    //margin-bottom: $gutter;    
    @media screen and (min-width: 580px) {
      padding-left: 1.5*$gutter;
      padding-right: 1.5*$gutter;
    }
    @media screen and (min-width: 760px) {
      // padding: $gutter;
    }
    @media screen and (min-width: 980px) {
      padding-left: 2.5*$gutter;
      padding-right: 2.5*$gutter;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 3.5*$gutter;
      padding-right: 3.5*$gutter;
    }
}
