/*
	30 Reasons :: style.scss
	----------------------------------------------------------
	By Adam Snetman
		
-------------------------------------------------------------------------------*/
.group, .wrap, .button-set, .reason-button a, .reason-button-righty a, .prev-next {
  zoom: 1; }
  .group:before, .wrap:before, .button-set:before, .reason-button a:before, .reason-button-righty a:before, .prev-next:before, .group:after, .wrap:after, .button-set:after, .reason-button a:after, .reason-button-righty a:after, .prev-next:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .group:after, .wrap:after, .button-set:after, .reason-button a:after, .reason-button-righty a:after, .prev-next:after {
    clear: both; }

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* Responsive images and other embedded objects*/
img,
object,
embed {
  max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  font-size: inherit;
  font: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

small {
  font-size: 80%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer; }

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

/* clear floats */
.group:before, .wrap:before, .button-set:before, .reason-button a:before, .reason-button-righty a:before, .prev-next:before, .group:after, .wrap:after, .button-set:after, .reason-button a:after, .reason-button-righty a:after, .prev-next:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.group:after, .wrap:after, .button-set:after, .reason-button a:after, .reason-button-righty a:after, .prev-next:after {
  clear: both; }

.group, .wrap, .button-set, .reason-button a, .reason-button-righty a, .prev-next {
  zoom: 1; }

/* image replacement */
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* Typography */
body {
  font-family: "runda", Helvetica, Arial, Helmet, Freesans, sans-serif;
  font-size: 16px;
  color: #262626;
  background-color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.125em;
  padding: 0;
  margin: 0 0 .5em 0; }

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  padding: 0;
  margin: 0 0 1.4em 0; }

h3 {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  padding: 0;
  margin: 0; }

h4 {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  line-height: 140%;
  padding: 0;
  margin: 0; }

p {
  font-size: 1em;
  line-height: 140%;
  padding: 0;
  margin: 0 0 1.4em 0;
  max-width: 45em; }

ul {
  list-style: circle;
  padding: 0;
  margin: 0;
  padding-left: 1.2em;
  margin-bottom: 1.3em; }

ol {
  padding: 0;
  margin: 0;
  padding-left: 1.3em;
  margin-bottom: 1.3em; }

li {
  padding: 0;
  margin: 0;
  margin-bottom: .5em; }

blockquote {
  margin: 0;
  padding: 0 .75em;
  border-left: 3px solid #e5e3e0;
  font-style: italic; }

strong {
  font-weight: 700; }

a {
  color: #44a2e1;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear; }
  a:hover {
    color: #262626; }

/* Forms
------------------------- */
form fieldset {
  margin: 0 0 20px 0;
  font-size: 14px; }

form fieldset.form-actions {
  margin: 0; }

form fieldset label {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold; }

form fieldset.check label {
  display: inline;
  font-weight: normal; }

form fieldset.radio ul li label {
  display: inline;
  font-weight: normal; }

form fieldset input.form-text,
form fieldset textarea {
  display: block;
  width: 50%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

form fieldset input.form-text:focus {
  border: 1px solid #ccc;
  background: #fff; }

form fieldset textarea {
  height: 150px; }

form fieldset select {
  min-width: 25%;
  margin: 0; }

form fieldset.radio ul {
  margin-top: 5px; }

form fieldset.radio ul li {
  margin: 0 0 5px 0; }

form fieldset.radio ul li:last-child {
  margin: 0; }

form fieldset p.form-help {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #999; }

form input[type="submit"] {
  margin: 0;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  border: 1px solid #bbb;
  background: #e5e5e5; }

form input[type="submit"]:active {
  border: 1px solid #ccc;
  background: #eee; }

/* Grid system
-------------------------------------------------- */
/* Variables
------------------------- */
/* Functions
-------------------------------------------------- */
/* Rows
------------------------- */
/* Cols
------------------------- */
/* Wrapper
-------------------------------------------------- */
.wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; }

/* Site header
-------------------------------------------------- */
#site-header {
  padding: 22px 11px; }
  #site-header #logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 0 11px; }
  #site-header .main-nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 0 11px; }
  @media screen and (min-width: 580px) {
    #site-header {
      padding-left: 33px;
      padding-right: 33px; } }
  @media screen and (min-width: 760px) {
    #site-header #logo {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 60%;
      padding: 0 11px; }
    #site-header .main-nav {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 40%;
      padding: 0 11px; } }
  @media screen and (min-width: 1024px) {
    #site-header {
      padding-left: 55px;
      padding-right: 55px; } }
  @media screen and (min-width: 1200px) {
    #site-header {
      padding-left: 77px;
      padding-right: 77px; } }

/* Content
------------------------- */
.content {
  padding: 22px 11px; }
  @media screen and (min-width: 580px) {
    .content {
      padding-left: 33px;
      padding-right: 33px; } }
  @media screen and (min-width: 1024px) {
    .content {
      padding-left: 55px;
      padding-right: 55px; } }
  @media screen and (min-width: 1200px) {
    .content {
      padding-left: 77px;
      padding-right: 77px; } }

/* Page title */
.page-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 0 11px; }

/* Main col */
.main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 0 11px;
  padding-bottom: 1.4em; }
  @media screen and (min-width: 760px) {
    .main {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 60%;
      padding: 0 11px; } }
  @media screen and (min-width: 1200px) {
    .main {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 50%;
      padding: 0 11px; } }

/* Sidebar */
.sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 0 11px; }
  @media screen and (min-width: 760px) {
    .sidebar {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 40%;
      padding: 0 11px; } }
  @media screen and (min-width: 1200px) {
    .sidebar {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 50%;
      padding: 0 11px; } }

/* Pagination */
.pagination {
  margin-top: 2.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 0 11px; }
  @media screen and (min-width: 1200px) {
    .pagination {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 50%;
      padding: 0 11px; } }

/* Site footer
-------------------------------------------------- */
#site-footer {
  padding: 22px 11px 44px; }
  #site-footer .social {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 0 11px; }
  #site-footer .copyright {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 0 11px; }
  @media screen and (min-width: 580px) {
    #site-footer {
      padding-left: 33px;
      padding-right: 33px; } }
  @media screen and (min-width: 1024px) {
    #site-footer {
      padding-left: 55px;
      padding-right: 55px; } }
  @media screen and (min-width: 1200px) {
    #site-footer {
      padding-left: 77px;
      padding-right: 77px; } }

/* Links as buttons
------------------------- */
a.btn, a.btn-dark, a.btn-blue {
  background-color: #f4f4f4;
  color: #aaaaaa;
  display: inline-block;
  padding: .35em .75em .3em;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 500;
  font-style: normal;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear; }
  a.btn .ss-icon, a.btn-dark .ss-icon, a.btn-blue .ss-icon {
    position: relative;
    top: .15em; }
  a.btn:hover, a.btn-dark:hover, a.btn-blue:hover {
    background-color: white;
    color: #44a2e1; }

a.btn-dark {
  color: #888888;
  background-color: #dddddd; }

a.btn-blue {
  color: white;
  background-color: #44a2e1; }
  a.btn-blue:hover {
    background-color: #555555;
    color: white; }

.button-set {
  margin: 0;
  padding: 0;
  list-style: none; }
  .button-set li {
    margin: 0;
    float: left;
    margin-right: 1px; }
  .button-set li:last-child {
    margin-right: 0; }
  .button-set a.btn, .button-set a.btn-dark, .button-set a.btn-blue {
    border-radius: 0; }
  .button-set li:first-child a.btn, .button-set li:first-child a.btn-dark, .button-set li:first-child a.btn-blue {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .button-set li:last-child a.btn, .button-set li:last-child a.btn-dark, .button-set li:last-child a.btn-blue {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }

/* Reason badges
-------------------------------------------------- */
/* Reason number
------------------------- */
.reason-number {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25em;
  padding: 0;
  color: white; }
  .reason-number b {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 1em;
    border-radius: .2em;
    background-color: #44a2e1;
    text-align: center;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear; }
    .reason-number b:first-child {
      margin-right: .08333333em;
      /* 2px at base */ }

/* Reason name
------------------------- */
.reason-name {
  font-size: 1.5em;
  font-weight: 700;
  color: #262626;
  display: block;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear; }
  .reason-name a {
    text-decoration: none; }

/* Reason arrow
------------------------- */
.reason-arrow {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
  position: relative;
  color: #dddddd;
  display: block;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -ms-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out; }

/* Reason badge
------------------------- */
.reason-badge .reason-number {
  float: left;
  margin-right: .25em; }
.reason-badge .reason-name {
  float: left; }
.reason-badge .reason-social {
  clear: both;
  font-size: .75em;
  padding-top: 1em; }

/* Reason logo
------------------------- */
.reason-logo .reason-number {
  float: left;
  margin-right: .25em; }
.reason-logo .reason-name {
  float: left;
  color: #44a2e1; }
.reason-logo .reason-social {
  clear: both;
  font-size: .75em;
  padding-top: 1em; }
.reason-logo a:hover .reason-number b {
  background-color: #262626; }
.reason-logo a:hover .reason-name {
  color: #262626; }

/* Reason button
------------------------- */
.reason-button .reason-arrow, .reason-button-righty .reason-arrow {
  float: left;
  margin-right: .25em;
  top: .125em; }
.reason-button .reason-number, .reason-button-righty .reason-number {
  float: left;
  margin-right: .25em; }
  .reason-button .reason-number b, .reason-button-righty .reason-number b {
    background-color: #aaaaaa; }
.reason-button .reason-name, .reason-button-righty .reason-name {
  float: left;
  display: none;
  color: #aaaaaa; }
  @media screen and (min-width: 480px) {
    .reason-button .reason-name, .reason-button-righty .reason-name {
      display: block;
      font-size: 1em;
      clear: both;
      padding: .5em 0 0 1.75em; } }
  @media screen and (min-width: 760px) {
    .reason-button .reason-name, .reason-button-righty .reason-name {
      clear: none;
      margin-right: .25em;
      padding: .1875em 0;
      line-height: 1.5em; } }
  @media screen and (min-width: 1024px) {
    .reason-button .reason-name, .reason-button-righty .reason-name {
      font-size: 1.5em;
      line-height: 1em;
      padding: .125em 0; } }
  @media screen and (min-width: 1200px) {
    .reason-button .reason-name, .reason-button-righty .reason-name {
      font-size: 1em;
      padding: .1875em 0;
      line-height: 1.5em; } }
.reason-button a, .reason-button-righty a {
  display: block;
  margin: 0;
  padding: 1em .25em;
  background-color: white;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear; }
  .reason-button a:hover, .reason-button-righty a:hover {
    background-color: white; }
    .reason-button a:hover .reason-number b, .reason-button-righty a:hover .reason-number b {
      background-color: #44a2e1; }
    .reason-button a:hover .reason-name, .reason-button-righty a:hover .reason-name {
      color: #262626; }
    .reason-button a:hover .reason-arrow, .reason-button-righty a:hover .reason-arrow {
      color: #44a2e1;
      left: -0.25em; }

/* Righty version */
.reason-button-righty .reason-arrow {
  float: right;
  margin-right: 0;
  margin-left: .25em; }
.reason-button-righty .reason-number {
  float: right;
  margin-right: 0;
  margin-left: .25em; }
.reason-button-righty .reason-name {
  float: right; }
  @media screen and (min-width: 480px) {
    .reason-button-righty .reason-name {
      padding: .5em 1.75em 0 0; } }
  @media screen and (min-width: 760px) {
    .reason-button-righty .reason-name {
      float: right;
      margin-right: 0;
      margin-left: .25em;
      padding: .1875em 0; } }
  @media screen and (min-width: 1024px) {
    .reason-button-righty .reason-name {
      padding: .125em 0; } }
  @media screen and (min-width: 1200px) {
    .reason-button-righty .reason-name {
      padding: .1875em 0; } }
.reason-button-righty a:hover .reason-arrow {
  left: .25em; }

/* Page title
-------------------------------------------------- */
/* Poster
------------------------- */
.poster, .poster-thumb, .poster-thumb-blank {
  margin: 0;
  padding: 0; }
  .poster .image, .poster-thumb .image, .poster-thumb-blank .image {
    position: relative;
    margin: 0;
    padding: 0; }
    .poster .image img, .poster-thumb .image img, .poster-thumb-blank .image img {
      display: block;
      position: relative;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      -ms-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out; }

.poster-thumb .caption, .poster-thumb-blank .caption {
  font-size: .875em;
  font-weight: 500;
  line-height: 1.14285em;
  padding: .75em 0;
  border-bottom: 2px solid #dddddd;
  height: 2.3em; }
.poster-thumb a:hover img, .poster-thumb-blank a:hover img {
  left: -1px;
  top: -2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25); }

.poster-thumb-blank .image {
  max-width: 280px; }
.poster-thumb-blank img {
  background-color: #f4f4f4;
  outline: 1px dashed #dddddd; }
.poster-thumb-blank .caption {
  color: #888888; }
.poster-thumb-blank .reason-number {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -0.6em;
  z-index: 2; }
  .poster-thumb-blank .reason-number b {
    background-color: #aaaaaa; }

/* Poster grid */
.poster-grid {
  list-style: none;
  margin: 0;
  padding: 0; }
  .poster-grid li {
    margin: 0 0 44px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 0 11px; }
  @media screen and (min-width: 480px) {
    .poster-grid li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 50%;
      padding: 0 11px; } }
  @media screen and (min-width: 580px) {
    .poster-grid li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 33.333%;
      padding: 0 11px; } }
  @media screen and (min-width: 760px) {
    .poster-grid li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 25%;
      padding: 0 11px; } }
  @media screen and (min-width: 1024px) {
    .poster-grid li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 20%;
      padding: 0 11px; } }

/* Tombstone
------------------------- */
.tombstone {
  font-size: .875em;
  background-color: #f4f4f4;
  padding: 1.25em 1.5em 1.5em;
  border: 1px solid #f4f4f4;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25); }
  .tombstone .title {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.285em;
    margin-bottom: .65em;
    color: #262626; }
  .tombstone .title + p {
    text-indent: 0; }
  .tombstone p {
    font-size: 1em;
    text-indent: 1.5em;
    line-height: 1.285em;
    margin-bottom: 2.5714em;
    color: #555555; }
  .tombstone p + p {
    margin-top: -2.571em; }
  .tombstone .share {
    font-size: .85714em;
    list-style: none;
    margin: 0;
    padding: 0; }
    .tombstone .share li {
      display: inline-block;
      margin-bottom: 0; }

/* Prev / Next links
------------------------- */
.prev-next {
  list-style: none;
  margin: 0;
  padding: 0; }

.prev-next > li {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #dddddd;
  border-left-width: 0;
  border-right-width: 0; }
  .prev-next > li:first-child {
    border-right-width: 2px; }

/* Footer
-------------------------------------------------- */
#site-footer .social {
  font-size: .75em;
  margin-bottom: 1em; }
#site-footer .copyright {
  font-size: .75em;
  color: #888888; }

/* Main navigation
-------------------------------------------------- */
.main-nav {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none; }
  .main-nav > li {
    margin: 0; }
