/*
	30 Reasons :: style.scss
	----------------------------------------------------------
	By Adam Snetman
		
-------------------------------------------------------------------------------*/

@import "partials/_reset","partials/_base","partials/_forms", "partials/_modules";



/* Layout
-------------------------------------------------- */

#site-header {
    padding-bottom: 1.4em;
    .reason-badge {
        float: left;
    }
    nav {
        float: right;
    }
    .main-nav {
        display: none;
    }
    .main-nav.is-visible {
        display: block;
    }
}

#site-footer {
    clear: both;
    margin-top: 100px;
}


/* Modules
-------------------------------------------------- */

/* Poster
------------------------- */
.poster {
    margin: 0;
    padding: 0;
    // The poster image
    img {
        display: block;
        margin-bottom: 1.4em;
    }
    // The tombstone
    .tombstone {
        font-size: .9375em; // 15/16
        background-color: $white;
        padding: 1.25em 1.5em 1.5em;
        box-shadow: 0 3px 9px rgba(0,0,0,.2);
        .title {
            font-size: 1em;
            line-height: 1.4em;
            margin: 0;
            font-weight: 700;
        }
        .title + p {
            text-indent: 0;
        }
        p {
            margin-bottom: 0;
            text-indent: 1em;
        }   
    }    
}

/* Pagination
------------------------- */

.pagination {
    width: 100%;
    padding: 2.8em 0;
    .prev-next {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .prev-next > li {
        float: left;
        width: 50%;
        box-sizing: border-box;
        border: 2px solid $lt-gray;
        border-left-width: 0;
        border-right-width: 0;
        &:first-child {border-right-width: 2px;}
    }
    .prev-next a {
        display: block;
        padding: 1em 0;
    }
}
